.project
.classpath
.settings/
bin/
target/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
out/
data/

# Gradle
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar